<div class="heading">Article analytics</div>
<div class="p-4 mb-8 bg-white neeto-ui-shadow-s rounded">
<table>
  <tr>
    <th> Sl. No.</th>
    <th>Article title</th>
    <th>Category</th>
    <th>Published date</th>
    <th> Total visits</th>
  </tr>

  <% @articles.each_with_index do |article, index| %>
    <tr>
      <td class="center"> <%= index + 1 %> </td>
      <td><%= article.title %></td>
      <td><%= article.category.title %></td>
      <td><%= article.published_date %></td>
      <td class="center"><%= article.visits.length %></td>
    </tr>
  <% end %>
</table>
</div>
